nav {
  height: 8vh;
  width: 100%;
  background-color: #c0392b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav img {
  height: 50%;
}

.nav-inside-div {
  display: flex;
  flex-direction: row;
  margin-right: 35px;
}
.nav-inside-p {
  padding: 3px 10px 5px 10px;
  cursor: pointer;
  /* font-weight: bold; */
}
.nav-inside-p:first-child {
  margin-right: 15px;
  border: none;
  color: #1b1464;
}
.nav-inside-p:first-child:hover {
  color: #fff;
}
.nav-inside-p:last-child {
  color: white;
  transition: 0.2s;
}

/* Transfrom border on hover */
.nav-p2 {
  position: relative;
}
.nav-p2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  height: 1px;
  width: 0;
  transition: 0.3s;
}

.nav-p2:hover::before {
  width: 100%;
}
.nav-p2::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  background-color: white;
  height: 1px;
  width: 100%;
  transition: 0.3s;
  transform: scaleX(0);
  transform-origin: 100% 50%;
}
.nav-p2:hover::after {
  transform: scaleX(1);
}
