/* Gadering Pointers */
.in-sin-div-features img,
.in-feat-p,
.in-feat-p2 {
  cursor: pointer;
}

.posts-boxes-wrapper {
  width: 60%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
}
.post-div {
  border: solid 0.5px lightgrey;
  border-radius: 2px;
  height: auto;
  min-height: 15vh;
  display: grid;
  grid-template-columns: 2fr 5fr;
  margin-bottom: 10px;
}
.post-div-img {
  height: 100%;
  min-width: 170px;
  max-width: 170px;
  /* object-fit: cover; */
}
.inside-single-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 0.5s;
}

/* Style the likes/commnets div */
.in-sin-div-features {
  display: flex;
  flex-direction: row;
}
.in-feat-p {
  margin-right: 15px;
}
.in-sin-div-features {
  font-size: 15px;
}
.in-sin-div-features img {
  height: 20px;
}

.wrap-feat-icon-div {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transform: translateY(-4px);
  margin-right: 4px;
  transition: 0.3s;
}
.wrap-feat-icon-div:hover {
  background-color: #dff9fb;
}
/* Style the likes/commnets div */

/* Style the text inside the posts box */
.in-sin-p1 {
  font-weight: bold;
  color: #18dcff;
}
.in-sin-p2 {
  transform: translateY(-10px) translateX(10px);
  font-size: 13px;
  color: #aaa69d;
}
.in-sin-p3 {
  transform: translateY(-15px);
  font-size: 15px;
}

@media only screen and (max-width: 980px) {
  .posts-boxes-wrapper {
    width: 90%;
  }
}
@media only screen and (max-width: 700px) {
  .post-div {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
  }
  .post-div-img {
    height: 150px;
    width: 100%;
    max-width: 100%;
  }
  .inside-single-div {
    transform: translateX(0);
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .in-sin-div-features {
    justify-content: center;
  }
}
