/* Sec wrapper */
.posts-sec-wrapper {
  height: 40vh;
  width: 300px;
  border: 2px solid lightgray;
  margin-left: 5px;
  border-radius: 4px;
  transition: 0.5s;
  background-color: #fff;
}

/* All cursor pointer  */
.profile-box-pen-image,
.edit-profile-bio {
  cursor: pointer;
}

.inside-sec-two {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  position: relative;
}

.profile-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.profilebox-name-title-p {
  text-transform: capitalize;
}
.wrap-img-pen,
.wrap-img-pen2 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.wrap-img-pen:hover,
.wrap-img-pen2:hover {
  background-color: #dff9fb;
}
.wrap-img-pen {
  transform: translateY(-90px) translateX(90px);
}
.profile-box-pen-image,
.edit-profile-bio {
  height: 20px;
  outline: none;
}
.profile-box-time-stamp {
  text-transform: capitalize;
}
.website-a {
  text-decoration: none;
  color: black;
}

.profile-box-div-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  width: 100%;
}
.row-div-inside {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.row-div-inside img {
  height: 20px;
  margin-right: 10px;
}
img[alt*="website"] {
  transform: rotate(45deg);
}
.wrap-img-pen2 {
  transition: 0.5s;
  transform: translateX(200px);
}

/* Media Query */
@media only screen and (max-width: 900px) {
  .posts-sec-wrapper {
    width: 70%;
    margin-bottom: 20px;
  }
  .inside-sec-two {
    justify-content: flex-start;
    padding-top: 5px;
  }
  .profile-box-div-info {
    position: absolute;
    top: 60%;
    left: 20%;
  }
  .profilebox-name-title-p {
    transform: translateY(5px);
  }
  .wrap-img-pen {
    transform: translateX(90px) translateY(-40px);
  }
}

@media only screen and (max-width: 550px) {
  .wrap-img-pen2 {
    transform: translateX(80px) translateY(30px);
  }
}

@media only screen and (max-width: 450px) {
  .profile-box-div-info {
    left: 5%;
  }
}

@media only screen and (max-width: 380px) {
  .posts-sec-wrapper {
    height: 60vh;
  }
}
